/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

canvas {
  image-rendering: pixelated;
  display: block;
  position: absolute;
  height: auto !important;
  width: 100% !important;
}

.small {
  width: auto !important;
  height: 100vh !important;
  max-height: -webkit-fill-available;
}
