/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
}

canvas {
  aspect-ratio: auto 800 / 400 !important;
  height: auto !important;
  max-height: 100vh !important;
  width: auto !important;

  overflow-clip-margin: content-box !important;
  overflow: clip;
}
