/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

/* canvas {
  width: 100% !important;
  height: auto !important;
} */

canvas {
  aspect-ratio: 800 / 400 !important;
  image-rendering: pixelated;
  /* margin: 0; */
  /* position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%); */

  width: 100% !important;
}

@media (min-width: 701px) {
  canvas {
    height: auto !important;
  }
}

@media only screen and (max-width: 700px) {
  canvas {
    max-height: -webkit-fill-available !important;
    height: unset !important;
  }
}
